.appointment {
    max-width: 1300px;
    margin: 80px auto;
    padding: 0 25px;
}

.appointment h1 {
    margin-bottom: 60px;
    font-size: 40px;
}

.appointment h1 span {
    color: coral;
}

.appointment select, 
.appointment input {
    width: 40%;
    height: 80px;
    padding-left: 10px;
    font-size: 17px;
    transition: 0.3s;
    color: gray;
}

.appointment select:hover,
.appointment input:hover {
    background: rgb(239, 239, 239);
}

.appointment textarea {
    width: 80%;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 17px;
    color: gray;
}

.appointment .submit {
    display: block;
    background: coral;
    width: 80%;
}

.appointment .submit:hover {
    background: none;
    color: black;
}