.header-top {
    background: #F3F6FF;
}

.header-top > div {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 17px;
    color: black;
    justify-content: space-around;
}

.header-top-icon {
    margin-right: 5px;
    top: 3px;
    position: relative;
}

.nav-container {
    background-color: coral;
}

.fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11;
}

.navbar {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;
    height: 70px;
    justify-content: space-between;
}

.list-items li {
    margin: 0 15px;
}

.list-items li a {
    color: white;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

.list-items li a:hover {
    border-bottom: 3px solid white;
    color: black;
}

.header-login-btn {
    border: none;
    color: white;
    background: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    outline: 3px solid transparent;
}

.header-login-btn:focus {
    outline: 3px solid gray;
}