.services {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #edf4fe;
}

.services > div {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;
    text-align: center;
    justify-content: center;
}

.area-heading {
    font-size: 30px;
}

.services-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 60px;
}