.hero {
    background: #F3F6FF;
    overflow: hidden;
}

.slick-prev {
    left: -20%;
    transition: 0.4s;
    z-index: 1;
}

.slick-arrow {
    width: 45px;
}

.slick-next {
    right: -20%;
    transition: 0.4s;
    z-index: 1;
}

.hero:hover .slick-prev {
    left: 8px;
}

.hero:hover .slick-next {
    right: 8px;
}

.slick-prev::before,
.slick-next::before {
    font-size: 45px;
    padding-top: 4px;
    opacity: 1;
    color: coral;
    background-color: white;
}

.hero-wrapper {
    display: flex !important;
}

.hero-text-area {
    width: 35%;
    padding-left: 50px;
}

.hero-text-area h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-text-area p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #656464;
}

.appointment-btn {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    background: transparent;
    border: 2px solid black;
    transition: 0.5s;
}

.appointment-btn:hover {
    color: white;
    background: black;
    border: 2px solid transparent;
}

.hero-img-area {
    width: 65%;
}

.hero-img-area img {
    width: 100%;
}